.flows.json.backup
[{"id":"67b662c0.e57454","type":"tab","label":"joystick-rpi-sensehat","disabled":false,"info":""},{"id":"f305925a.acef","type":"rpi-sensehat in","z":"67b662c0.e57454","name":"","motion":false,"env":false,"stick":true,"x":75,"y":55,"wires":[["75c5edd6.ea66ac","58995cf2.b6f5e4"]]},{"id":"a7c3b441.6bb3e8","type":"e-mail","z":"67b662c0.e57454","server":"smtp.googlemail.com","port":"465","secure":true,"tls":true,"name":"rschaertel@hotmail.com","dname":"","x":1016.5,"y":248,"wires":[]},{"id":"e9e8dbe1.8f778","type":"debug","z":"67b662c0.e57454","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790.5,"y":98,"wires":[]},{"id":"75c5edd6.ea66ac","type":"switch","z":"67b662c0.e57454","name":"joystick","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"UP","vt":"str"},{"t":"eq","v":"DOWN","vt":"str"},{"t":"eq","v":"LEFT","vt":"str"},{"t":"eq","v":"RIGHT","vt":"str"},{"t":"eq","v":"ENTER","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":200.5,"y":264,"wires":[["824e5522.269b08","365a524a.df0836"],["a439edf9.334df8"],["f1c1c131.59e29"],["500cbcff.5c5ed4"],["773f500.664ca3"]]},{"id":"39cf7a73.11fdc6","type":"rpi-sensehat out","z":"67b662c0.e57454","name":"","x":1109.5,"y":355,"wires":[]},{"id":"365a524a.df0836","type":"debug","z":"67b662c0.e57454","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":463.5,"y":92,"wires":[]},{"id":"824e5522.269b08","type":"change","z":"67b662c0.e57454","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":486.5,"y":159,"wires":[["e9e8dbe1.8f778","39cf7a73.11fdc6"]]},{"id":"48bb9e18.28fc18","type":"inject","z":"67b662c0.e57454","name":"","topic":"","payload":"hallo selma och freja","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":699.5,"y":629,"wires":[[]]},{"id":"a439edf9.334df8","type":"change","z":"67b662c0.e57454","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":504.5,"y":214,"wires":[["39cf7a73.11fdc6"]]},{"id":"f1c1c131.59e29","type":"change","z":"67b662c0.e57454","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":467.5,"y":262,"wires":[["39cf7a73.11fdc6"]]},{"id":"500cbcff.5c5ed4","type":"change","z":"67b662c0.e57454","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"right","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":478.5,"y":323,"wires":[["39cf7a73.11fdc6"]]},{"id":"773f500.664ca3","type":"change","z":"67b662c0.e57454","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"enter","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":486.5,"y":372,"wires":[["39cf7a73.11fdc6"]]},{"id":"58995cf2.b6f5e4","type":"debug","z":"67b662c0.e57454","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":294.5,"y":49,"wires":[]},{"id":"bc6dbbe2.066b1","type":"function","z":"67b662c0.e57454","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":170.5,"y":426,"wires":[[]]}]
